{% extends "base_login.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block main %}
<div class="layout-index p-3 mx-3">
    <div class="text-center my-5">
        <h2>パスワード変更</h2>
    </div>
    <div class="text-center">
        <!-- {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %} 
        {% endif %}
        注意: xxx さんとしてログイン中です。 -->
        <p>パスワードをお忘れですか？パスワードをリセットするために、メールアドレスを入力してください。</p>
        <div class="my-4">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" class="btn btn-sm btn-outline-dark" value="{% trans 'Reset My Password' %}" />
            </form>
        </div>
        <p>パスワードの再設定に問題がある場合は<a href="mailto:info@example.com">info@example.com</a>にご連絡ください。</p>
    </div>
</div>
{% endblock %}
