{% extends "./accountbase.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="">
    <div class="">
        <h5 class="">プロフィール</h5>
        <form method="post">
            {% csrf_token %}
            <table class="">
                <tbody>
                    <tr>
                        <th class="header">名前</th>
                        <td class="">
                            {% render_field form.first_name class="form-control" placeholder="姓" %}
                            {% render_field form.last_name class="form-control" placeholder="名" %}
                        </td>
                    </tr>
                    <tr>
                        <th class="header">所属</th>
                        <td class="data">
                            {% render_field form.description class="form-control" placeholder="自己紹介" %}
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="">
                <button class="" type="submit">変更</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}