{% extends 'base.html' %}
{% block main %}

<table class="table">
    <tbody>
        <tr>
            <th>プロフィール画像</th>
            <td>
                {% if user_data.image %}
                    画像あり
                    <img src='{{ user_data.image.url }}' width="100" height="100">
                {% else %}
                    画像なし
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>ユーザー名</th>
            <td>{{ user_data.username }}</td>
        </tr>
        <tr>
            <th>メール</th>
            <td>{{ user_data.email }}</td>
        </tr>
        <tr>
            <th>姓</th>
            <td>{{ user_data.last_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ user_data.first_name }}</td>
        </tr>
    </tbody>
</table>
{% if request.user.username == user_data.username %}
<a href="{% url 'accounts:profile_edit' user_data.username %}">プロフィール編集</a>
{% endif %}


{% if user.username in request.get_full_path %}
<h2>公開記事一覧</h2>
{% for post in post_data %}
<h2>{{ post.title }}</h2>
<h2>{{ post.discription }}</h2>
<h2>{{ post.object_set.first.title }}</h2>
<h2>{{ post.object_set.first.url }}</h2>
<h2>{{ post.object_set.first.discription }}</h2>
{% endfor %}
<h2>未公開記事一覧</h2>
{% for unpub in post_unpub_data %}
<h2>{{ unpub.title }}</h2>
<h2>{{ unpub.discription }}</h2>
{% endfor %}
{% else %}
{% for post in post_data %}
<h2>公開記事一覧</h2>
<h2>{{ post.title }}</h2>
<h2>{{ post.discription }}</h2>
<h2>{{ post.object_set.first.title }}</h2>
<h2>{{ post.object_set.first.url }}</h2>
<h2>{{ post.object_set.first.discription }}</h2>
{% endfor %}
{% endif %}

{% endblock %}

