.layout-index.p-3.mx-3{
  // margin-right: auto;
  // margin-left: auto;
  .table{
    // text-align: center;
    margin-right: auto;
    margin-left: auto;
    // background-color: cadetblue;
  }
  .form_body{
    text-align: center;
  }
  .form_label{
    width: 52vh;
    text-align: center;
  }
  .form-item{
    width: 35vw;
    // margin-left: 0%;
  }
  .form_title{
    text-align:left;
  }
  .form_discription{
    text-align: left;
  }
  .form_status{
    text-align: left;
  }
}