.layout-index.p-3.mx-3{
  // margin-right: auto;
  // margin-left: auto;
  .table{
    // text-align: center;
    margin-right: auto;
    margin-left: auto;
    // background-color: cadetblue;
  }
  .form_body{
    text-align: center;
  }
  .form_label{
    width: 52vh;
    text-align: center;
  }
  .form-item{
    width: 35vw;
    // margin-left: 0%;
  }
  .form_title{
    text-align:left;
  }
  .form_discription{
    text-align: left;
  }
  .form_status{
    text-align: left;
  }
}

.article {
  padding: 0.5em 1em;
  margin: 40px auto;
  color: #000000;
  background: #ede8e2e2;/*背景色*/
  border-top: solid 6px rgb(85, 62, 23);
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.32);/*影*/
  max-width: 800px;
}