/*
・このCSSファイルをあてるHTMLファイル
    -base.html
・注意事項
このCSSファイルは全体の設定を担っているので容易に変更しないようにする。全体に影響がある時のみに変更し、
変更する際は相談（LINE,slack）にコメントする
*/

/*全体の設定*/

* {
    margin: 0;
    padding: 0;

    list-style: none;
}

/*　文字サイズ・色・フォントの設定*/

/*　　header部分のレイアウト　　　　*/

.layout_header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    height: 100px;
    background-color: rgb(230, 154, 15);
}

.layout_header .image {
    /*width:100%;*/
    flex-grow: 1;
}

.layout_header .image .logo {
    width: 100%;
}

.layout_header .local-nav {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    /*justify-content: flex-start;*/
    align-items: center;
}

.layout_header .local-nav .layout-form {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.layout_header .local-nav .nav-list {
    flex-grow: 3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} 

.layout_header .local-nav .nav-list li {
    border: skyblue 2px solid;
    border-radius: 5px;
    background-color:whitesmoke;
}

.layout_header .local-nav .nav-list li:hover {
    box-shadow: 0 0 8px gray;
}

.layout_header .local-nav .nav-list li a {
    display: block;
    text-decoration: none;
    color: #333;
}


/*  main aside部分のレイアウト　　　　　　　*/

.container {
    display: flex;
    flex-direction: row;
}

.container .left-aside {
    background-color: pink;
}

.container .main {
    flex: 1;
}

.container .right-aside {
    background-color: green;
}

/*  footer部分のレイアウト  　　*/
.footer {
    height: 30px;
    background-color: black;
    color: white;
}