{% extends "base_login.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="layout-index p-3 mx-3">
    <div class="text-center my-5">
      <h2>パスワード変更</h2>
    </div>
    <div class="text-center">
      {% if token_fail %}
          {% url 'account_reset_password' as passwd_reset_url %}
          <p>パスワードのリセットリンクが無効です。すでに使用されている可能性があります。
            <br> 
            新しいパスワードの再設定を<a href="{{ passwd_reset_url }}">リクエスト</a>してください。</p>
      {% else %}
          <form method="POST" action="{{ action_url }}">
              {% csrf_token %}
              {% for field in form  %}
                <div class="form-group field my-2" >
                  {{ field }}
                </div>
              {% endfor %}             
              <div class="my-3">
                <button class="btn btn-outline-dark btn-sm" type="submit" name="action">送信する</button>
              </div>
          </form>
      </div>
      {% endif %}
    </div>
</div>
{% endblock %}
