:root {
  --base-color: #731702;
  --base-button-color: #400101;
  --form-color: #f6f5f4ba;
  --bg-color: #f6f5f4ba;
  --title-bg-color: #f6f5f4ba;
  --card-bg-color: #ede8e2e2;
  /* --card-bg-color: #f6f5f4ba; */
}
