@import url('base_color.css');


.app_logo {
  color: var(--base-button-color);
}

.nav_color {
  background-color: var(--base-color);
}

.header_search_form {
  background-color: var(--form-color);
}

h2.app_title {
  background-color: var(--title-bg-color);
  border-radius: 10px;
}

h2.app_title:hover {
  color: black;
}