@import url('base_color.css');
/*
・このCSSファイルをあてるHTMLファイル
    -base.html
・注意事項
このCSSファイルは全体の設定を担っているので容易に変更しないようにする。全体に影響がある時のみに変更し、
変更する際は相談（LINE,slack）にコメントする
*/

/*全体の設定*/

* {
    margin: 0;
    padding: 0;
    /* list-style: none; */
}

/*　文字サイズ・色・フォントの設定*/

/*　　header部分のレイアウト　　　　*/



/*  main aside部分のレイアウト　　　　　　　*/
body {
    background-color: var(--bg-color)
}

a {
    text-decoration: none;
}

.new-container {
    display: flex;
    flex-direction: row;
    margin: 200px, 200px;
    padding: 0;
}

/* .container .left-aside {
    background-color: pink;
} */

.new-container .main {
    flex: 1;
	top: 0;
	left: 0;
    /* background-color: #none; */
    word-break: break-all;
}

/* .container .right-aside {
} */

.new-container .sticky-sidebar {
    position: -webkit-sticky;
	position: sticky;
	top: 0;
}

.errorlist {
    list-style: none;
    margin-top: 5px;
}

.non-padding {
    padding: 0;
}

.image-area {
    height: 180px;
}

.image {
    height: 100%;
}

/*  footer部分のレイアウト  　　*/
/* .footer {
    height: 30px;
    background-color: black;
    color: white;
} */



