@import url("base_color.css");
/* html, */
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 54px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 390px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: var(--base-color);
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }
  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(-100%);
  }
  .nav-item {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .form-inline {
    margin-top:  10px;
    margin-bottom: 10px;
  }
}
