@import url('base_color.css');
/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 200px;
}
.footer {
  /* text-align: center;
  vertical-align: middle; */
  position: absolute;
  bottom: 0;
  width: 100%;
  /* line-height: 200px; */
  height: 150px;
  background-color: var(--base-color);
}

.footer-container {
  margin-top: 30px;
}

.footer-list {
  list-style: none;
  text-decoration: grey;
  text-align: center;
}

.footer-list-item {
  color: grey;
}