{% extends 'base_login.html' %}

{% block main %}
<div class="container">
    <form method="POST">
        <h2 class="text-center mt-4 mb-5">新規記事作成</h2>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
            <div class="form-group">
                <dl class="row">
                    <dt class="col-lg-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></dt>
                    <dd class="col-lg-8">{{ field }}</dd>
                </dl>

                {% if field.help_text %}
                <div>
                    <p class="helptext">{{ field.help_text }}</p>
                </div>
                {% endif %}
                {% if field.errors %}
                <div class="invalid-feedback">
                    {% for error in field.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <div class="text-center my-2">
                <button class="btn btn-outline-dark" type="submit">送信</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}