{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/style_form.css' %}">
{% endblock %}


{% block main %}
    <div class="container edit-area">
        <form action="" method="post">
                    
            <h2 class="text-center mb-5">新規記事作成</h2>
            {{ form.non_field_errors }}
            {% for field in form %}
                <div class="form-group">
                    <dl class="row">
                        <dt class="col-lg-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></dt>
                        <dd class="col-lg-8">{{ field }}</dd>
                    </dl>
                    
                    {% if field.help_text %}
                    <div>
                        <p class="helptext">{{ field.help_text }}</p>
                    </div>
                    {% endif %}
                    {% if field.errors %}
                    <div class="invalid-feedback">
                        {% for error in field.errors %}
                            {{ error }}<br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            {% endfor %}
                    <div class="item-mytop">
                        <button class="btn btn-outline-danger" id="edit-delete" type="submit" name="postdelete">記事を削除</button>
                    </div> 
                <hr>
            
            
            {% for form in formset %}
                <h2 class="text-center mt-4 mb-5">この記事にURLメモを追加する</h2>
                <div class="object-form form-mytop form-paddleft">
                {{ form.non_field_errors }}
                {% for field in form.visible_fields %}
                    <div class="form-group">
                        <dl class="row">
                            <dt class="col-lg-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></dt>
                            <dd class="col-lg-8">{{ field }}</dd>
                        </dl>
                        {% if field.help_text %}
                            <span class="helptext">{{ field.help_text }}</span>
                        {% endif %}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {% for error in field.errors %}
                                    {{ error }}<br>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                    </div>
                {% endfor %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <hr>
                </div>
            {% endfor %}
            {{ formset.management_form }}
            {% csrf_token %}
            <div class="edit-footer col text-center">
                <button id="add" type="button" class="btn btn-outline-dark">オブジェクト追加</button>
                <button type="submit" name="save" class="btn btn-outline-dark">保存</button> 
            </div>
        </form>
    </div>
{% endblock %}

{% block add_js %}
    <script src="{% static 'js/alartDeleteEdit.js' %}"></script>
    <script src="{% static 'js/formController.js' %}"></script>
    <script src="{% static 'js/resizeTextarea.js' %}"></script>
{% endblock %}