{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
<div class="layout-index bg-warning p-3">
<!-- <div class="layout-index bg-warning p-3">
    <div class="card">
        <div class="mt-3">
            <div class="text-center my-5">
                <h2>{{ post.title }}</h2>
            </div>
        </div>
        <div class="card-object mx-5 text-center">
            <p>{{ post.discription }}</p>
        </div>
        <div class="card mx-5">
            <ul class="card-object">
                {% for object in post.object_set.all %}
                <li>
                    <div class="card-object border border-dark">
                        <a href="{{ object.url }}">
                            <p class="font-weight-bold text-dark">{{ object.title }}</p>
                            {% if object.discription.is_empty%}
                                <p>NONE</p>
                            {% endif %}
                            <p class="text-muted">{{ object.discription }}</p>
                        </a>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div> 
        {% if user == post.user %}
        <div class="text-center my-2">
            <form action="{% url 'article_delete' post.id %}" method="post">
                <a class="btn btn-outline-dark" href="{% url 'object_update' post.id %}">編集</a>
                <button class="btn btn-outline-danger" type="submit">削除</button>
                {% csrf_token %}
            </form>
        </div>
        {% endif %}
    </div>
</div> -->
<div class="p-3 mx-3" style="background-color: white;">
    <div class="mt-3">
        <div class="text-center my-5">
            <h2>{{ post.title }}</h2>
            <small><p class="mb-0 ">更新：{{ post.created_at }}</p></small> 
            <p class="mb-0 font-weight-light"><a href="{% url 'accounts:profile' post.user.username %}">@{{post.user.username}}</a></p>

        </div>
    </div>
    <div class="mx-5 text-center">
        <p>{{ post.discription }}</p>
    </div>

    {% for object in post.object_set.all %}
        <div class="card border border-dark mb-3">
            <a href="{{ object.url }}" style="text-decoration:none;">
                <h5 class="text-center my-2" style="font-weight: bold;">{{ object.title }}</h5>
                <div class="my-3 mx-5">
                    {% if object.discription == "" %}
                    <small>
                        <p class="text-muted text-center m-0">説明文は書かれていません。</p>
                    </small>                
                    {% else %}
                    <small>
                        <p class="text-muted m-0">{{ object.discription }}</p>
                    </small>
                    {% endif %}
                </div>
            </a>
                {% if user == post.user %}
                <div class="text-center mb-2">
                    <form action="{% url 'article_delete' post.id %}" method="post">
                        <a class="btn btn-outline-dark btn-sm" href="{% url 'object_update' post.id %}">編集</a>
                        <button class="btn btn-outline-danger btn-sm" type="submit">削除</button>
                        {% csrf_token %}
                    </form>
                </div>
                {% endif %}        
                <!-- <div class="card-footer text-muted">
        </div> -->
        </div>
{% empty %}
<div class="card border border-dark mb-3">
    <h5 class="text-center my-2" style="font-weight: bold;">オブジェクトがまだありません。</h5>
</div>
{% endfor %}
</div>
{% endblock %}

{% block right_aside %}
<div class="sticky-sidebar">
  <div class="mb-3 border border-dark" style="width: 300px; height: 250px;">
      広告1
  </div>
  <div class="mb-3 border border-dark" style="width: 300px; height: 250px;">
      広告2
  </div>
  <div class="mb-3 border border-dark" style="width: 300px; height: 250px;">
      広告3
  </div>
</div>
{% endblock %}