{% extends 'base.html' %}
{% load static %}

{% block main %}
    {% if messages %}
    <ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
    </ul>
    {% endif %}
    
    <div class="article-area">
        <div class="article-header">
            <h2>{{ post.title }}</h2>
            <p>{{ post.discription }}</p>
        </div>
        <div class="article-body">
            <ul class="object-items">
                {% for object in post.object_set.all %}
                    <li>
                        <p>{{ object.title }}</p>
                        <p><a href="{{ object.url }}">{{ object.url }}</a></p>
                        <p>{{ object.discription }}</p>
                    </li>
                {% endfor %}
            </ul>
        </div>

        {% if request.user == post.user %}
        <form action="{% url 'article_delete' post.id %}" method="post">
            <button type="submit">削除する</button>
            {% csrf_token %}
        </form>
        {% endif %}
    </div>
{% endblock %}