{% extends 'base.html' %}

{% block main %}
<div class="container">
    <h2 class="text-center">HTMLファイルアップロード</h2>

    <p>１ 各ブラウザのブックマークファイルをエクスポートする。各ブラウザのエクスポート手順は以下から。</p>
    <ul>
        <li><a href="https://support.google.com/chrome/answer/96816?hl=ja">Google Chrome</a></li>
        <li><a href="https://dynabook.com/assistpc/faq/pcdata2/018137.htm">Microsoft Edge</a></li>
        <li><a href="https://support.mozilla.org/ja/kb/export-firefox-bookmarks-to-backup-or-transfer">Fire fox</a></li>
        <li>他のブラウザを利用の方も同様にHTMLファイルをエクスポートしてください。</li>
    </ul>
    <p>２ ブックマークファイルのインポート</p>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
            {{ form.non_field_errors }}
        </p>
        {% for field in form %}
        <div class="form-group">
            <dl class="row">
                <dt class="col-lg-2"><label for="{{ field.id_for_label }}">{{ field.label }}</label></dt>
                <dd class="col-lg-8">{{ field }}</dd>
            </dl>
            {% if field.help_text %}
            <div>
                <p class="helptext">{{ field.help_text }}</p>
            </div>
            {% endif %}
            {% if field.errors %}
            <div class="invalid-feedback">
                {% for error in field.errors %}
                    {{ error }}<br>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-dark">保存</button>
    </form>
</div>
{% endblock %}