{% extends 'base.html' %}

{% block main %}
<h2>フォルダ選択</h2>
<form method="post" action="">
    {% for folder in folders %}
    <p>
        <label for="folder_{{folder}}">{{folder}}</label>
        <input type="radio" name="select_folder" id="folder_{{folder}}" value="{{folder}}">
    </p>
    {% endfor %}
    {% csrf_token %}
    <button type="submit">選択</button>
</form>

<h2>選択したフォルダの要素</h2>
{% for content in contents%}
    <p>{{content.title}}{{content.url}}</p>
{% endfor %}

<form method="post">
<h2>添付ファイル</h2>
    {{ formset.management_form }}
    <div id="object-form">
        {% for file_form in formset %}
            <div class="form-wrapper">
                {{ file_form.as_p }}
                <button type="button">削除する</button>
            </div>
        {% endfor %}
    </div>
{% csrf_token %}
    <button type="submit" class="btn btn-primary" name="save">保存</button>
</form>
{% endblock %}
