{% extends 'header.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="new-container my-3" style="min-height: 100%;">
        <aside class="left-aside" >
            {% block left_aside %}
            {% endblock %}
        </aside>
  
        <main class="main my-3" role="main">
            {% block main %}
            {% endblock %}
        </main>
  
        <aside class="right-aside my-3 p-2">
            {% block right_aside %}
            {% endblock %}
        </aside>
    </div>

    <footer class="footer">
        <p class="text-body">Copyright &copy; BookmarkShareApp 2021</p>
        <ul style="list-style: none;">
            <li><a href="{% url 'terms' %}">利用規約</a></li>
        </ul>
    </footer>
{% endblock %}
{% block add_js %}
{% endblock %}
</body>
</html>