{% extends 'base_origin.html' %}

{% block head %}
<link rel="stylesheet" href="profile.css">
{% endblock %}

{% block body %}
    <div class="container my-3">
        <main class="main my-3" role="main">
            {% block main %}
            {% endblock %}
        </main>
    </div>

    <div class="container my-3">
        <!-- <aside class="left-aside" style="width: 50px;" >
            {% block left_aside %}
            {% endblock %}
        </aside> -->
        <main class="my-3" role="main" style="width: 780px;">
            {% block main_b %}
            {% endblock %}
        </main>
        <aside class="right-aside p-2" style="width: 320px;">
            {% block right_aside %}
            {% endblock %}
        </aside> 
    </div>


    <footer class="footer">
        <p class="text-muted">Copyright &copy; BookmarkShareApp 2021</p>
    </footer>
{% endblock %}