{% extends 'header.html' %}
{% load static %}

{% block head_title %}Ochiba （おちば）ブックマークを検索・共有できるアプリ{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
    <div class="new-container my-3" style="min-height: 100%;">
        <aside class="left-aside" >
            {% block left_aside %}
            {% endblock %}
        </aside>
  
        <main class="main my-3" role="main">
            {% block main %}
            {% endblock %}
        </main>
  
        <aside class="right-aside my-3 p-2">
            {% block right_aside %}
            {% endblock %}
        </aside>
    </div>

    <footer class="footer">
        <p class=" text-center footer-container ">Copyright &copy; Ochiba 2022</p>
        <ul class="footer-list">
            <li><a class="footer-list-item" href="{% url 'terms' %}">利用規約</a></li>
            <li><a class="footer-list-item" href="{% url 'privacy_policy' %}">プライバシーポリシー</a></li>
            <li><a class="footer-list-item" href="https://forms.gle/4PZmTfcjKcogWt1m9">お問い合わせ</a></li>
        </ul>
    </footer>
{% endblock %}
{% block add_js %}
{% endblock %}
</body>
</html>