{% extends 'header.html' %}
{% load static %}

{% block body %}

        <main class="main my-3" role="main">
            {% block main %}
            {% endblock %}
            {% block content %}
            {% endblock %}
            {% block extra_body %}
            {% endblock %}
  </main>

    <footer class="footer">
        <p class="text-muted">Copyright &copy; BookmarkShareApp 2021</p>
        <ul style="list-style: none;">
            <li><a href="{% url 'terms' %}">利用規約</a></li>
        </ul>
    </footer>
{% endblock %}
{% block add_js %}
{% endblock %}